@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@layer components{
  .btn{
    @apply bg-white py-2 px-2 rounded-md font-medium items-center inline-flex justify-center tracking-tighter
  }

  .bg-grad{
    @apply  bg-gradient-to-r from-black to-[#001E80] text-transparent bg-clip-text  md:text-[54px] md:leading-[60px] text-4xl font-bold tracking-tighter 
  }
}

/* Force black text in buttons */
button.btn,
.btn button {
  color: black !important;
}

:root {
  --background:  #171717;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
}

* {
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(29, 185, 84, 0.1);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(29, 185, 84, 0.3);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(29, 185, 84, 0.5);
}

